@charset "UTF-8";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@font-face {
    font-family: 'URIAL';
    src: url('URIAL FONT Bold.otf') format('opentype'), url('URIAL FONT Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin: 0;
}

header {
    font-family:monospace;
    font-size: 28px;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display:flex;
    color:rgb(255, 255, 255);
    background-color: rgb(137, 0, 172);
}

header img {
    padding-top: 10px;
}

#img {
    width: 35px;
    height: 35px;
}

h1 {
    border-style:  rgb(255, 255, 255);
}

#menu {
    font-family: 'URIAL';
    font-size: 20px;
    background: rgb(255, 166, 0);
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
}

li {
    list-style: none;
}

#menu ul {
    padding: 0px;
}

#menu li, ul {
    text-align: left;
    display: inline;
}

#menu ul li {
    position: relative;
}

#menu li a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 20px; 
}

#menu li a:hover {
    background: rgb(248, 211, 0);
    transition-duration: 0.5s;
}

#menu ul ul{
    display: none;
    left: 0;
    position: absolute;
}

#menu ul li:hover ul {
    background: rgb(255, 166, 0);
    width: 100%;
    display: block;
}

#menu ul ul li a {
    display: block;
}

#famosos {
    font-family:monospace;
    color: rgb(255, 255, 255);
    text-align: center;
    background: rgb(137, 0, 172);
    padding: 15px;
    margin: 0;
}

#indies {
    font-family:monospace;
    color: rgb(255, 255, 255);
    text-align: center;
    background: rgb(137, 0, 172);
    padding: 15px;
}

#titulos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#coluna article {
    padding: 0px;
    margin: 10px;
}

#coluna {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

#coluna2 article {
    padding: 0px;
    margin: 10px;
}

#coluna2 {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.review {
    width: 20%;
    min-width: 280px;
    place-items: center;
    display: flex;
    flex-direction: column;
}



#TLOU {
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    margin: 15px;
    padding: 15px;
    background: rgb(255, 166, 0);
}

#TLOU:hover {
    background: rgb(248, 211, 0);
    transition-duration: 0.5s;
}

#GoW {
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    margin: 15px;
    padding: 15px;
    background: rgb(255, 166, 0);
}

#GoW:hover {
    background: rgb(248, 211, 0);
    transition-duration: 0.5s;
}

#GTA {
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    margin: 15px;
    padding: 15px;
    background: rgb(255, 166, 0);
}

#GTA:hover {
    background: rgb(248, 211, 0);
    transition-duration: 0.5s;
}

#celeste {
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    margin: 15px;
    padding: 15px;
    background: rgb(255, 166, 0);
}

#celeste:hover {
    background: rgb(248, 211, 0);
    transition-duration: 0.5s;
}

#SV {
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    margin: 15px;
    padding: 15px;
    background: rgb(255, 166, 0);
}

#SV:hover {
    background: rgb(248, 211, 0);
    transition-duration: 0.5s;
}

#terraria {
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    margin: 15px;
    padding: 15px;
    background: rgb(255, 166, 0);
}

#terraria:hover {
    background: rgb(248, 211, 0);
    transition-duration: 0.5s;
}

footer {
    background: black;
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}

footer a {
    background: black;
    color: rgb(255, 255, 255);
    border-radius:3px;
}

footer a:hover {
    background: red;
    transition-duration: 0.5s;
}

#lastofus {
    width: 50%;
    padding: 20px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    background: rgb(255, 166, 0);
}

#lastofus li span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#lastofus li {
    padding: 10px;
}

#lastofus a {
    color: black;
    text-decoration: none;
}

#lastofus a:hover {
    color: red;
    text-decoration: none;
    transition-duration: 0.5s;
}

#reviewTLOU {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#reviewTLOU p {
    font-size: 18px;
}

#historia {
    background: purple;
    color: white;
    font-size: 40px;
    padding: 10px;
}

#reviewTLOU img {
    width: 100%;
    height: 100%;
}

#senhas {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

fieldset {
    border: 2px solid purple;
    margin: 10px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

legend {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: 1px solid purple;
    padding: 10px;
    border-radius: 8px;
    background: purple;
    color: white;
}

.bloco {
    position: relative;
}

.input {
    background: none;
    border:none;
    border-bottom: 1px solid black;
    outline: none;
    width: 100%;
}

.labelLog {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.input:focus ~ .labelLog, .input:valid + .labelLog{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: -20px;
    font-size: 12px;
    color:orange;
}

#submit {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    background: purple;
    color: white;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}

#submit:hover {
    background: rgb(92, 0, 92);
}
